<a href="https://colab.research.google.com/github/GonCor/UNSAM_Ciencia_Datos_ARG4.0/blob/main/01_EjerciciosSemana4%5Bresueltobyme%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ejercicios Semana 4

 # Ejercicio 1

Escribe un programa que pida al usuario ingresar una lista de números separados por comas. Luego, crea una tupla con esos números y muestra por pantalla la tupla creada y la suma de sus elementos. Si la lista que ingresa el usuario tiene elementos erroneos, que el programa se frene y le avise al usario.

*Pista: Para que sum() funcione todos los elementos del contenedor tiene que ser int o float.*

In [ ]:
numeros=input(' ingresar una lista de números separados por comas ')
print(numeros)
for n in numeros:
  print(n)

 ingresar una lista de números separados por comas 53,85,99
53,85,99
5
3
,
8
5
,
9
9

numeros=input('')

In [ ]:
lista = input("Ingrese una lista de números separados por comas: ")

try:
    lista_numeros = [float(num) for num in lista.split(",")]
    tupla_numeros = tuple(lista_numeros)
    suma_numeros = sum(tupla_numeros)

    print("La tupla creada es:", tupla_numeros)
    print("La suma de los elementos es:", suma_numeros)

except ValueError:
    print("Ha ingresado elementos que no son números. Por favor, vuelva a intentarlo.")

Ingrese una lista de números separados por comas: 22,99,878
La tupla creada es: (22.0, 99.0, 878.0)
La suma de los elementos es: 999.0

## Ejercicio 2

Escribir un programa que pregunte al usuario su nombre, apellido, edad y teléfono, y que lo guarde en un diccionario. Después debe mostrar por pantalla el mensaje:  \<nombre apellido\> tiene \<edad\> años y su número de teléfono es \<telefono\>.

In [ ]:
nombre=input("ingrese Nombre")
apellido=input("Ingrese Apellido")
edad=int(input("Ingrese Edad"))
telefono=int(input("ingrese su numero de telefono"))
datos = {"nombre": nombre, "apellido": apellido, "edad": edad, "telefono": telefono}
print(datos)

ingrese Nombreg
Ingrese Apellidoc
Ingrese Edad45
ingrese su numero de telefono342
{'nombre': 'g', 'apellido': 'c', 'edad': 45, 'telefono': 342}

# Ejercicio 3

Escribir un programa que pregunte una fecha en formato dd/mm/aaaa y muestre por pantalla la misma fecha en formato dd de \<mes\> de aaaa donde \<mes \> es el nombre del mes. Para ello cree un diccionario que relacione el valor de mm con el nombre del mes.

In [ ]:
meses = {"01": "enero", "02": "febrero", "03": "marzo", "04": "abril", "05": "mayo", "06": "junio",
         "07": "julio", "08": "agosto", "09": "septiembre", "10": "octubre", "11": "noviembre", "12": "diciembre"}

# Pedir fecha al usuario en formato dd/mm/aaaa
fecha = input("Introduce una fecha en formato dd/mm/aaaa: ")
# Separar los valores de día, mes y año
dia, mes, anio = fecha.split("/")

# Obtener el nombre del mes a partir del diccionario
mes_nombre = meses[mes]

# Mostrar la fecha en el formato deseado
print(f"{dia} de {mes_nombre} de {anio}")

Introduce una fecha en formato dd/mm/aaaa: 35/12/2099
35 de diciembre de 2099

# Ejercicio 4

Escribe un programa que pida al usuario que ingrese dos listas de números enteros separados por espacios. Luego, crea dos conjuntos con los elementos de cada lista y muestra por pantalla los siguientes conjuntos:

    1. La unión de los dos conjuntos
    2. La intersección de los dos conjuntos
    3. Los elementos que están en el primer conjunto pero no en el segundo
    4. Los elementos que están en el segundo conjunto pero no en el primero

In [ ]:
listauno=(input("Ingrese una lista de numeros enteros"))
listados=(input("Ingrese una lista de numeros enteros"))

listadouno=listauno.split(" ")
listadodos=listados.split(" ")

#Concateno
union=listadouno+listadodos
#union de los dos conjutos
unionSinRepetidos=[]
#Interseccion de los dos conjuntos
interseccion=[]

elementos1=len(listadouno)
elementos2=len(listadodos)


for i in union:
  if i in unionSinRepetidos:
      interseccion.append(i)
  if i not in unionSinRepetidos:
      unionSinRepetidos.append(i)
print(f'La union de los dos grupos da: {unionSinRepetidos}')
print(f'La Inteseccion de los grupos es: {interseccion}')

primerConjunto=listadouno.copy()
segundoConjunto=listadodos.copy()

for i in interseccion:
  if i in listadouno:
    primerConjunto.remove(i)

for i in interseccion:
  if i in listadodos:
    segundoConjunto.remove(i)

print(f'Elementos que estan en el primer conjunto pero no en el segundo: {primerConjunto} ')
print(f'Elementos que estan en el segundo conjunto pero no en el primero: {segundoConjunto} ')

Ingrese una lista de numeros enteros5 18 99 7 15
Ingrese una lista de numeros enteros5 9 78
La union de los dos grupos da: ['5', '18', '99', '7', '15', '9', '78']
La Inteseccion de los grupos es: ['5']
Elementos que estan en el primer conjunto pero no en el segundo: ['18', '99', '7', '15']
Elementos que estan en el segundo conjunto pero no en el primero: ['9', '78']

# Ejercicio 5

Dadas las listas de nombres y edades:
nombre=[Juan, Ana, Marcela, Claudio, Nicolás, Cecilia, Tomas, Pedro]
edades=[25, 15, 13, 21, 45, 32, 17, 33]
1. Crear una lista de tuplas que contenga los nombres y las edades de las personas mayores de 18 años. Atención, usar la función `zip()`.
2. Ordenar la lista resultante de forma alfabética por el nombre de las personas.

In [ ]:
nombres = ['Juan', 'Ana', 'Marcela', 'Claudio', 'Nicolás', 'Cecilia', 'Tomas', 'Pedro']
edades = [25, 15, 13, 21, 45, 32, 17, 33]

tupla = zip(nombres, edades)
mayoresEdad=[]
for t in tupla:
  if t[1]>=18:
    mayoresEdad.append(t)
mayoresEdad=sorted(mayoresEdad)


print(mayoresEdad)

[('Cecilia', 32), ('Claudio', 21), ('Juan', 25), ('Nicolás', 45), ('Pedro', 33)]

#Ejercicio 6

Usando la herramienta de compresión de listas y diccionarios aprendidas en clases crear:

1. Crea una lista de los cuadrados de los números del 1 al 10 utilizando una comprensión de listas.
2. Crea una lista de los números pares del 1 al 20 utilizando una comprensión de listas.
3. Crea un diccionario que asocie ciudades con sus temperaturas actuales de las siguiente listas.
ciudades = ["Buenos Aires", "Madrid", "Roma", "París"]
temperaturas = [28, 16, 21, 19]

In [ ]:
[x**2 for x in range (1,10)]
[x for x in range(1,20) if x %2==0 ]
ciudades = ["Buenos Aires", "Madrid", "Roma", "París"]
temperaturas = [28, 16, 21, 19]
ciudadTemperatura=dict(zip(ciudades,temperaturas))
print(ciudadTemperatura)

{'Buenos Aires': 28, 'Madrid': 16, 'Roma': 21, 'París': 19}

# Ejercicio 7

Escribe un programa que lea una lista de palabras separadas por espacios y cree una tupla con ellas. Luego, muestra por pantalla la tupla creada y la cantidad de veces que aparece la letra más repetida en todas las palabras.

In [ ]:
palabras= input("Escriba palabras")
palabrasSeparadas=palabras.split()

print (palabrasSeparadas)
frecuenciaLetras={}
for palabra in palabrasSeparadas:
  for letra in palabra:
    if letra in frecuenciaLetras:
      frecuenciaLetras[letra]+=1
    else:
       frecuenciaLetras[letra]=1

letra_mas_repetida = max(frecuenciaLetras, key=frecuenciaLetras.get)
repeticiones_letra_mas_repetida = frecuenciaLetras[letra_mas_repetida]
print(letra_mas_repetida)
print(repeticiones_letra_mas_repetida)
print(f'la letra mas repetida es {letra_mas_repetida} y se repite {repeticiones_letra_mas_repetida} veces')

Escriba palabrasHola mundo somos campeones otra vez
['Hola', 'mundo', 'somos', 'campeones', 'otra', 'vez']
o
6
la letra mas repetida es o y se repite 6 veces

# Ejercicio 8

Imagina que eres el gerente de una tienda en línea y estás revisando tu base de datos de clientes. Descubres que algunos clientes se han registrado varias veces con la misma información de contacto, pero diferentes nombres de usuario. La lista con información de contacto que tenes es:

```py
clientes = [

  (1, "Ana", "García", "ana@example.com", "Calle Falsa 123"),

  (2, "Pedro", "Martínez", "pedro@example.com", "Avenida Siempreviva 742"),

  (3, "Luisa", "Fernández", "luisa@example.com", "Calle Falsa 123"),

  (4, "Juan", "Pérez", "juan@example.com", "Calle Falsa 123"),

  (5, "Ana", "García", "ana@example.com", "Calle Falsa 123")
  
  ]
```
Donde el primer elemento de cada tupla es el numero de cliente, luego viene el nombre, apellido, email y dirección.

Para simplificar tu base de datos, decides eliminar los registros duplicados y ordenar la lista de clientes alfabéticamente. Escribe un código que haga esto.

In [ ]:
clientes = [

  (1, "Ana", "García", "ana@example.com", "Calle Falsa 123"),

  (2, "Pedro", "Martínez", "pedro@example.com", "Avenida Siempreviva 742"),

  (3, "Luisa", "Fernández", "luisa@example.com", "Calle Falsa 123"),

  (4, "Juan", "Pérez", "juan@example.com", "Calle Falsa 123"),

  (5, "Ana", "García", "ana@example.com", "Calle Falsa 123")

  ]

datos_cliente=["id", "nombre", "apellido", "email" , "dirección"]
dic_clientes={}

for cliente in clientes:
  if cliente[3] not in dic_clientes:
        #print(cliente[3])
        diccionario = dict(zip(datos_cliente,cliente))
        print(diccionario)
        dic_clientes[diccionario["id"]] = diccionario

print (dic_clientes)

{'id': 1, 'nombre': 'Ana', 'apellido': 'García', 'email': 'ana@example.com', 'dirección': 'Calle Falsa 123'}
{'id': 2, 'nombre': 'Pedro', 'apellido': 'Martínez', 'email': 'pedro@example.com', 'dirección': 'Avenida Siempreviva 742'}
{'id': 3, 'nombre': 'Luisa', 'apellido': 'Fernández', 'email': 'luisa@example.com', 'dirección': 'Calle Falsa 123'}
{'id': 4, 'nombre': 'Juan', 'apellido': 'Pérez', 'email': 'juan@example.com', 'dirección': 'Calle Falsa 123'}
{'id': 5, 'nombre': 'Ana', 'apellido': 'García', 'email': 'ana@example.com', 'dirección': 'Calle Falsa 123'}
{1: {'id': 1, 'nombre': 'Ana', 'apellido': 'García', 'email': 'ana@example.com', 'dirección': 'Calle Falsa 123'}, 2: {'id': 2, 'nombre': 'Pedro', 'apellido': 'Martínez', 'email': 'pedro@example.com', 'dirección': 'Avenida Siempreviva 742'}, 3: {'id': 3, 'nombre': 'Luisa', 'apellido': 'Fernández', 'email': 'luisa@example.com', 'dirección': 'Calle Falsa 123'}, 4: {'id': 4, 'nombre': 'Juan', 'apellido': 'Pérez', 'email': 'juan@example.com', 'dirección': 'Calle Falsa 123'}, 5: {'id': 5, 'nombre': 'Ana', 'apellido': 'García', 'email': 'ana@example.com', 'dirección': 'Calle Falsa 123'}}

In [ ]:
# Definimos la lista de clientes
clientes = [
  (1, "Ana", "García", "ana@example.com", "Calle Falsa 123"),
  (2, "Pedro", "Martínez", "pedro@example.com", "Avenida Siempreviva 742"),
  (3, "Luisa", "Fernández", "luisa@example.com", "Calle Falsa 123"),
  (4, "Juan", "Pérez", "juan@example.com", "Calle Falsa 123"),
  (5, "Ana", "García", "ana@example.com", "Calle Falsa 123")
]

# Creamos un diccionario vacío para almacenar los clientes únicos
clientes_unicos = {}

# Recorremos la lista de clientes
for cliente in clientes:
  # Extraemos el email del cliente
  email = cliente[3]
  # Si el email no está en el diccionario de clientes únicos,
  # lo agregamos con el nombre de usuario como valor
  if email not in clientes_unicos:
    clientes_unicos[email] = cliente[1] + " " + cliente[2]

# Convertimos el diccionario de clientes únicos a una lista de tuplas
# y la ordenamos alfabéticamente por el valor (nombre de usuario)
clientes_ordenados = sorted(clientes_unicos.items(), key=lambda x: x[1])

# Mostramos la lista de clientes ordenados
for cliente in clientes_ordenados:
  print(cliente)

('ana@example.com', 'Ana García')
('juan@example.com', 'Juan Pérez')
('luisa@example.com', 'Luisa Fernández')
('pedro@example.com', 'Pedro Martínez')

In [ ]:
clientes = [

  (1, "Ana", "García", "ana@example.com", "Calle Falsa 123"),

  (2, "Pedro", "Martínez", "pedro@example.com", "Avenida Siempreviva 742"),

  (3, "Luisa", "Fernández", "luisa@example.com", "Calle Falsa 123"),

  (4, "Juan", "Pérez", "juan@example.com", "Calle Falsa 123"),

  (5, "Ana", "García", "ana@example.com", "Calle Falsa 123")

  ]

# Elimino los registros duplicados

# Genero una lista de tuplas sin el numero de clientes, para ir chequeando si el cliente esta duplicado. ¿Porque? Bueno, viendo clientes, me doy cuenta
# lo que se repite es la informacion de contacto, pero el numero de cliente NO. Entonces tengo que encontrar una manera de poder comparar estas tuplas
# pero sin que se tenga en cuenta el numero de cliente.

clientes_sin_numero = []
for idx, cliente in enumerate(clientes, start=0): # Use enumerate para saber cual es el indice de la lista, y asi saber cual borrar si está duplicado.
    sin_numero = (cliente[1],cliente[2],cliente[3],cliente[4]) # Como no tiene el numero de cliente ahora si lo voy a poder usar para encontrar duplicados.
    if (cliente[1],cliente[2],cliente[3],cliente[4]) in clientes_sin_numero: # Si ya encontre el cliente en mi lista de clientes sin numeros, entonces ese cliente esta repetido!
        del clientes[idx] # Borro el cliente
    else: # Que pasa si no esta en la lista?... Lo agrego, asi al fin y al cabo voy a terminar con una lista (sin el numero de cliente) con todos los clientes sin repetir.
        clientes_sin_numero.append(sin_numero)

print(clientes) # Listo! Ya le saqué todos los duplicados.

[(1, 'Ana', 'García', 'ana@example.com', 'Calle Falsa 123'), (2, 'Pedro', 'Martínez', 'pedro@example.com', 'Avenida Siempreviva 742'), (3, 'Luisa', 'Fernández', 'luisa@example.com', 'Calle Falsa 123'), (4, 'Juan', 'Pérez', 'juan@example.com', 'Calle Falsa 123')]

# Ejercicio 9

Escribe un programa que le permita al usuario registrar información sobre estudiantes en una escuela. Cada estudiante tendrá un nombre y apellido, una edad y una lista de materias en las que está inscrito.
El programa deberá guardar toda la información guardada, y además deberá indicar cuantas y cuales son las materias a las que hay por lo menos un estudiante inscrito.

Probá para las siguientes informaciones

- Nombre: Juan Perez,
  Edad: 18,
  Materias: Matemáticas, Física, Química
- Nombre: Ana Suarez,
  Edad: 17,
  Materias: Lengua, Historia, Geografía
- Nombre: Pedro Martinez,
  Edad: 16,
  Materias: Inglés, Música
- Nombre: María Barbosa,
  Edad: 18,
  Materias: Matemáticas, Física, Dibujo
- Nombre: Luis Sanchez,
  Edad: 17,
  Materias: Biología, Historia, Geografía

In [ ]:
#creo un diccionario para
estudiantes={}
#creo el ingreso de las variables
nombre =input("ingrese un nombre ").lower().strip()
apellido =input("ingrese un apellido ").lower().strip()
edad=int(input("Ingrese una edad "))
materias=input("ingrese a las materias que se inscribio sepradas de una coma ").lower().strip()
#Genero una lista de materias
lista_materias=materias.split(",")

ingrese un nombre G
ingrese un apellido C
Ingrese una edad 343
ingrese a las materias que se inscribio sepradas de una coma Biología, Historia, Geografía

In [ ]:

estudiantes=[]


while True:
  nombre =input("ingrese un nombre ").lower().strip()
  apellido =input("ingrese un apellido ").lower().strip()
  edad=int(input("Ingrese una edad "))
  materias=input("ingrese a las materias que se inscribio sepradas de una coma ").lower().strip()
  #Genero una lista de materias
  lista_materias=materias.split(",")
  estudiante = {
        'Nombre': nombre,
        'Apellido':apellido,
        'Edad': edad,
        'Materias': lista_materias
        }
  estudiantes.append(estudiante)
  continuar = input('¿Desea continuar registrando? (si/no): ').lower().strip()
  if continuar == 'no': # me aseguro de que esta condicion va funcionar porque lo convertí en minusculas.
      break

ingrese un nombre Juan
ingrese un apellido Perez
Ingrese una edad 18
ingrese a las materias que se inscribio sepradas de una coma Mat, len, biologia
¿Desea continuar registrando? (si/no): no

In [ ]:
materias_con_al_menos_un_estudiante=set()
for estudiante in estudiantes:
  for materia in estudiante['Materias']:
    materias_con_al_menos_un_estudiante.add(materia)

print(f"Hay {len(materias_con_al_menos_un_estudiante)} materias con al menos un estudiante inscrito:")
print(', '.join(materias_con_al_menos_un_estudiante))

KeyError: ignored